

.container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b6b6c7
}

form{
  width: 400px;
  text-align: center;
}


mat-form-field{
  width: 100%
}



